fieldset {
  border: 1px solid black;
  float: left;
  margin-right: 4px;
  width: 400px;

}

textarea {
  height: 100px;
  width: 400px;

}

h3 {
  margin: 8px;
  text-align: left;
  padding-right: 5px;
}
